@font-face {
  font-family: GOS; /* set name */
  src: url(GOS/Game\ Of\ Squids.otf);
  src: url(GOS/Game\ Of\ Squids.ttf); /* url of the font */
}

*{
    cursor: default;
}

body{
    font-family: Arial, Helvetica, sans-serif
}

.row{
    gap: 1.25vw;
}

::selection {
    background-color: white;
    color: black;
}

.staticTitle{
    width:45%;
    height:45%;
    transition: transform 0.5s ease;
}

.staticTitle:hover{
    cursor: pointer;
    transition: transform 0.5s ease;
    transform: scale(1.05);
}

.selectUI{

}

.enter{
    margin: 1vw;
    padding: 5vw;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: transform 0.5s ease;
    color: white;
}

.enter h3{
    font-family: GOS;
    margin-bottom: 5%;
    font-size: 2.75vw;
}

.enter p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    text-align: center;
    margin-bottom: 5%;
    font-size: 1.75vw;
}

.enter a{
    font-family: GOS;
    text-decoration: none;
    color: white;
    font-size:1.75vw;
}

.enterPlayer{
    background: rgba(197, 249, 255, 0.1);
    padding: 5vw;
    transition: background-color 0.25s ease-in-out;
    transition: padding 0.5s ease-in-out;
}

.enterPlayer:hover{
    background: rgba(114, 213, 224, 0.25);
    transition: background-color 0.25s ease-in-out;
}

.playerButton{
    cursor: pointer;
    background-color: #3f9ab1;
    border-radius: 15px;
    padding: 0.5vw 2vw 0.5vw 2vw;
    transition: background-color 0.25s ease-in-out;
}

.playerButton:hover{
    transition: color 0.25s ease-in-out;
    background-color: rgb(116, 202, 224);
}


.enterGuard{
    background: rgba(255, 216, 226, 0.1);
    transition: background-color 0.25s ease-in-out;
}

.enterGuard:hover{
    background: rgba(255, 145, 173, 0.25);
    transition: background-color 0.25s ease-in-out;
}


.guardButton{
    cursor: pointer;
    background-color: #fc668b;
    border-radius: 15px;
    padding: 0.5vw 2vw 0.5vw 2vw;
    transition: background-color 0.25s ease-in-out;
}

.guardButton:hover{
    transition: color 0.25s ease-in-out;
    background-color: rgb(252, 150, 175);
}